<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.JenkinsHisDaoMapper">
    <!-- 根据主键查询-->
    <select id="getAll" resultType="com.example.demo.entity.JenkinsHisEntity">
        select  *
        from jenkins_history
    </select>

    <!-- 根据主键查询-->
    <select id="getById" resultType="com.example.demo.entity.JenkinsHisEntity" parameterType="java.lang.Integer" >
        select  *
        from jenkins_history
        where id = #{id}
    </select>

    <update id="updateByObj" parameterType="com.example.demo.entity.JenkinsHisEntity" >
        update jenkins_history
        <set >
            <if test="jobCurrentName != null" >
                job_current_name = #{jobCurrentName},
            </if>
            <if test="tomcatInstanceName != null" >
                tomcat_instance_name = #{tomcatInstanceName},
            </if>
            <if test="jobPlace != null" >
                job_place = #{jobPlace},
            </if>
            <if test="warName != null" >
                war_name = #{warName},
            </if>
            <if test="deployType != null" >
                deploy_type = #{deployType},
            </if>
            <if test="packageWay != null" >
                package_way = #{packageWay},
            </if>
            <if test="deployBranch != null" >
                deploy_branch = #{deployBranch},
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="insert" parameterType="com.example.demo.entity.JenkinsHisEntity">
        insert into jenkins_history
        <set >
            <if test="jobCurrentName != null" >
                job_current_name = #{jobCurrentName},
            </if>
            <if test="tomcatInstanceName != null" >
                tomcat_instance_name = #{tomcatInstanceName},
            </if>
            <if test="jobPlace != null" >
                job_place = #{jobPlace},
            </if>
            <if test="warName != null" >
                war_name = #{warName},
            </if>
            <if test="deployType != null" >
                deploy_type = #{deployType},
            </if>
            <if test="packageWay != null" >
                package_way = #{packageWay},
            </if>
            <if test="deployBranch != null" >
                deploy_branch = #{deployBranch},
            </if>
            <if test="historyTime != null" >
                history_time = #{historyTime},
            </if>
        </set>
    </insert>

    <delete id="deleteById">
        delete from jenkins_history
        where id = #{id}
    </delete>
</mapper>